<div class="content-body ">

  <div class="row container-wrapper">
    <div class="col-sm display-card-lsts">

      <h1>New beiapp</h1>

      <%= render "form", beiapp: @beiapp %>

      <br>

      <div>
        <%= link_to "Back to beiapps", beiapps_path %>
      </div>


  </div>
</div>