<aside>
  <p> Menu </p>
  <%= link_to beiapps_path do %>
    <i class="fa fa-user-o" aria-hidden="true"></i>
    Beiapps
  <% end %>
  <%= link_to onboardings_path do %>
    <i class="fa fa-laptop" aria-hidden="true"></i>
    App Deployemnts
  <% end %>
  <a href="javascript:void(0)">
    <i class="fa fa-clone" aria-hidden="true"></i>
    Shared with me
  </a>
  <a href="javascript:void(0)">
    <i class="fa fa-star-o" aria-hidden="true"></i>
    Starred
  </a>
  <a href="javascript:void(0)">
    <i class="fa fa-trash-o" aria-hidden="true"></i>
    Trash
  </a>
</aside>

<div class="social">
  <a href="https://www.linkedin.com/in/florin-cornea-b5118057/" target="_blank">
    <i class="fa fa-linkedin"></i>
  </a>
</div>