<%# <h1 class="animated fadeInDown"><i class="icon icon-arrow-down"></i></h1> %>
 <h3> Deployment</h3>

<div class="select animated terminal-wrapper zoomIn">
<div class="window-container is-visible">
  <div class="window-controls">
    <i class='fa-solid fa-cloud ' style="color:#ffffff;"> </i> <i class="fa-solid fa-server" style="color:green;"></i> 
    <%# <button class="window-controls-btn close-btn"></button> %>
    <%# <button class="window-controls-btn minimize-btn"></button> %>
    <%# <button class="window-controls-btn expand-btn"></button> %>
  </div>
  <div class="window-content">
  <p class="line" id="progress-loading-p"><i class="fa-solid fa-magnet"></i></p>
  </div>
    
</div>
</div>
<script src="https://res.cloudinary.com/selae-learning/raw/upload/v1674270163/beicloud-assets/jquery.min_qqptdx.js"></script>
<script>

 </script>
