.content-body .container-wrapper{
    width: 80%;
    margin-left: 250px;
    padding: 20px;
}

.top-container-wrapper-i{
    margin-top: 140px;
}

.content-body .inner-header{
    margin-left: 280px;
    img{
        height:60px;
    }
}