.landing_logo_section a img{
    height: 50px;  
}

.repo_item{
    width: auto;
    padding: 10px;
    display: grid;
    grid-template-columns: 20% 80%;
}

.sucess-deploy{
    color: green;
}

.danger-deploy{
    color: red;
}